{% extends "layout.html" %}
{% block staticLinks %}
{% load static %}
<script type="text/javascript" src="{% static 'sheet.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'sheet.css' %}"> 
{% endblock staticLinks %}

{% block content %}
<!-- =============================== Models ================================ -->

<div class="modal fade" id="clanModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Clans
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateClan("Malkavian", "Incurable Derangement")'
                >
                  Malkavian
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateClan("Brujah", "+2 diff on Frenzy checks")'
                >
                  Brujah
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateClan("Gangrel", 
                    "Temporary Animal Characteristic")'
                >
                  Gangrel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="natureModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Clans
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateStaticField("natureID", "Malkavian")'
                >
                  Malkavian
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateStaticField("natureID", "Brujah")'
                >
                  Brujah
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateStaticField("natureID", "Gangrel")'
                >
                  Gangrel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="demeanorModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Clans
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateStaticField("demeanorID", "Malkavian")'
                >
                  Malkavian
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateStaticField("demeanorID", "Brujah")'
                >
                  Brujah
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='updateStaticField("demeanorID", "Gangrel")'
                >
                  Gangrel
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="disciplineModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Disciplines
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("disc-template", "disc_auspex", 
                    "Auspex")'
                >
                  Auspex
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("disc-template", "disc_potence",
                    "Potence")'
                >
                  Potence
                </button>
              </div>
            </div>
            <div class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("disc-template", "disc_celerity",
                    "Celerity")'
                >
                  Celerity
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="bgModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Backgrounds
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            
            <div id='allies' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("bg-template", "bg_allies", 
                    "Allies")'
                >
                  Allies
                </button>
              </div>
            </div>
            
            <div id='alt-identity' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("bg-template", "bg_alternate-identity",
                    "Alternate Identity")'
                >
                  Alternate Identity
                </button>
              </div>
            </div>
            
            <div id='black-hand-membership' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("bg-template", 
                    "bg_black-hand-membership", "Black Hand Membership")'
                >
                  Black Hand Membership
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="meritModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Merits
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            
            <div id='acute-sense' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("merit-template", "merit_acute-sense", 
                    "Acute Sense", value="1")'
                >
                  Acute Sense 1pt
                </button>
              </div>
            </div>
            
            <div id='ambidextrous' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("merit-template", "merit_ambidextrous",
                    "Ambidextrous", value="1")'
                >
                  Ambidextrous
                </button>
              </div>
            </div>
            
            <div id='bruiser' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("merit-template", 
                    "merit_bruiser", "Bruiser", value="1")'
                >
                  Bruiser
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="flawModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Flaws
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            
            <div id='acute-sense' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("flaw-template", "flaw_acute-sense", 
                    "Acute Sense", value="1")'
                >
                  Acute Sense 1pt
                </button>
              </div>
            </div>
            
            <div id='ambidextrous' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("flaw-template", "flaw_ambidextrous",
                    "Ambidextrous", value="1")'
                >
                  Ambidextrous
                </button>
              </div>
            </div>
            
            <div id='bruiser' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='addDynamicField("flaw-template", 
                    "flaw_bruiser", "Bruiser", value="1")'
                >
                  Bruiser
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="moralityModel" tabindex="-1" 
  aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h5 class="modal-title display-5 w-100">
          Morality
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" 
          aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <div class='container-fluid'>
          <div class='row'>
            
            <div id='humanity' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='changeMorality("morality_humanity", "Humanity",
                    "Normalcy", ["Conscience", "Self-Control"])'
                >
                  Humanity
                </button>
              </div>
            </div>
            
            <div id='path-of-blood' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='changeMorality("morality_path-of-blood", 
                    "The Path of Blood", "Resolve", 
                    ["Conviction", "Self-Control"])'
                >
                  The Path of Blood
                </button>
              </div>
            </div>
            
            <div id='path of the Bones' class='col-lg-4'>
              <div class='d-grid gap-2'>
                <button class="btn btn-primary btn-lg" type="button"
                  data-bs-dismiss="modal" 
                  onclick='changeMorality("morality_path-of-bones", 
                    "The Path of the Bones", "Silence", 
                    ["Conviction", "Self-Control"])'
                >
                  The Path of the Bones
                </button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- =============================== Base ================================ -->
  
<div class='row'>
  <div class="col-md-10 mx-auto content-section">
    <h1 class="display-1 text-center">Vampire 20th</h1>
    <hr>
    <div class='row' >
      <div id='general' class='col-12'> 
        <div class='row'>
          <div id='player-details' class='col-sm-6 col-lg-4'>
            <div id='name' class='row my-2'>
              <label class='col-auto my-auto'>Name:</label>
              <input class='col px-1 w-100 underline-input' type='text'>
            </div>

            <div id='player' class='row my-2'>
              <label class='col-auto my-auto'>Player:</label>
              <input class='col px-1 w-100 underline-input' readOnly 
                value='{{ request.user.username }}#{{ request.user.discriminator}}'>
            </div>

            <div id='chronicle' class='row my-2'>
              <label class='col-auto my-auto'>Chonicle:</label>
              <input class='col px-1 w-100 underline-input' type='text'>
            </div>
          </div>

          <div id='character-details' class='col-sm-6 col-lg-4'>
            <div id='nature' class='row my-2'>
              <label class='col-auto my-auto'>Nature:</label>
              <input class='col px-1 w-100 underline-input' type='text' readOnly
                data-bs-toggle="modal" data-bs-target="#natureModel"
                name='nature' id='natureID'>
            </div>

            <div id='demeanor' class='row my-2'>
              <label class='col-auto my-auto'>Demeanor:</label>
              <input class='col px-1 w-100 underline-input' type='text' readOnly
                data-bs-toggle="modal" data-bs-target="#demeanorModel"
                name='demeanor' id='demeanorID'>
            </div>

            <div id='concept' class='row my-2'>
              <label class='col-auto my-auto'>Concept:</label>
              <input class='col px-1 w-100 underline-input' type='text'>
            </div>
          </div>

          <div id='vampire-details' class='col-sm-6 col-lg-4 
            mx-auto'>
            <div id='clan' class='row my-2'>
              <label class='col-auto my-auto'>Clan:</label>
              <input class='col px-1 w-100 underline-input' type='text' readOnly
                data-bs-toggle="modal" data-bs-target="#clanModel"
                name='clan' id='clanID'>
            </div>

            <div id='generation' class='row my-2'>
              <label class='col-auto my-auto'>Generation:</label>
              <input class='col px-1 w-100 underline-input' type='text'>
            </div>

            <div id='sire' class='row my-2'>
              <label class='col-auto my-auto'>Sire:</label>
              <input class='col px-1 w-100 underline-input' type='text'>
            </div>
          </div>

        </div>
      </div>
      
      <div id='attributes' class='col-12'>
        <div class='row'>
          {% block attribute %}
            {% include "./v20/attributes.html"  %}
          {% endblock attribute %}
        </div>
      </div>

      <div id='abilites' class='col-12'>
        <div class='row'>
          {% block abilities %}
            {% include "./v20/abilities.html" %}
          {% endblock abilities %}   
        </div>
      </div>

      <div id='advantages' class='row'>
        {% block advantages %}
          {% include './v20/advantages.html' %}
        {% endblock advantages %}             
      </div>

      <div id='thridRow' class='row'>
        <hr>
        {% block thirdRow %}
          {% include './v20/thirdRow.html' %}
        {% endblock thirdRow %}             
      </div>
    </div>
  </div>
</div>
{% endblock content %}