{% block abilities %}
<div class='col-12'>
  <div class='row'>
    <div class='col m-auto'><hr></div> 
    <div class='col-auto'><h2 class='display-4 text-center'>Abilities</h2></div>          
    <div class='col m-auto'><hr></div> 
  </div>  
</div>        

<div id='talents' class='col-lg-6 col-xxl-4'>
  <h3 class='display-6 text-center'>Talents</h3>

  <div id='alertness' class='row my-2'>
    <label class='col-auto my-auto'>Alertness</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="alertnessDot" id="alertnessDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="alertnessDot" id="alertnessDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="alertnessDot" id="alertnessDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="alertnessDot" id="alertnessDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="alertnessDot" id="alertnessDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="alertnessDot" id="alertnessDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div> 

  <div id='athletics' class='row my-2'>
    <label class='col-auto my-auto'>Athletics</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="athleticsDot" id="athleticsDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="athleticsDot" id="athleticsDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="athleticsDot" id="athleticsDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="athleticsDot" id="athleticsDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="athleticsDot" id="athleticsDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="athleticsDot" id="athleticsDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='awareness' class='row my-2'>
    <label class='col-auto my-auto'>Awareness</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="awarenessDot" id="awarenessDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="awarenessDot" id="awarenessDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="awarenessDot" id="awarenessDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="awarenessDot" id="awarenessDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="awarenessDot" id="awarenessDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="awarenessDot" id="awarenessDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='brawl' class='row my-2'>
    <label class='col-auto my-auto'>Brawl</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="brawlDot" id="brawlDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="brawlDot" id="brawlDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="brawlDot" id="brawlDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="brawlDot" id="brawlDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="brawlDot" id="brawlDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="brawlDot" id="brawlDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='empathy' class='row my-2'>
    <label class='col-auto my-auto'>Empathy</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="empathyDot" id="empathyDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="empathyDot" id="empathyDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="empathyDot" id="empathyDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="empathyDot" id="empathyDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="empathyDot" id="empathyDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="empathyDot" id="empathyDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='expression' class='row my-2'>
    <label class='col-auto my-auto'>Expression</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="expressionDot" id="expressionDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="expressionDot" id="expressionDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="expressionDot" id="expressionDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="expressionDot" id="expressionDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="expressionDot" id="expressionDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="expressionDot" id="expressionDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='intimidation' class='row my-2'>
    <label class='col-auto my-auto'>Intimidation</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="intimidationDot" id="intimidationDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="intimidationDot" id="intimidationDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intimidationDot" id="intimidationDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intimidationDot" id="intimidationDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intimidationDot" id="intimidationDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intimidationDot" id="intimidationDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='leadership' class='row my-2'>
    <label class='col-auto my-auto'>Leadership</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="leadershipDot" id="leadershipDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="leadershipDot" id="leadershipDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="leadershipDot" id="leadershipDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="leadershipDot" id="leadershipDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="leadershipDot" id="leadershipDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="leadershipDot" id="leadershipDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='streetwise' class='row my-2'>
    <label class='col-auto my-auto'>Streetwise</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="streetwiseDot" id="streetwiseDot0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="streetwiseDot" id="streetwiseDot1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="streetwiseDot" id="streetwiseDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="streetwiseDot" id="streetwiseDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="streetwiseDot" id="streetwiseDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="streetwiseDot" id="streetwiseDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='subterfuge' class='row my-2'>
    <label class='col-auto my-auto'>Subterfuge</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="subterfuge" id="subterfuge0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="subterfuge" id="subterfuge1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="subterfuge" id="subterfuge2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="subterfuge" id="subterfuge3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="subterfuge" id="subterfuge4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="subterfuge" id="subterfuge5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>
</div>

<div id='skills' class='col-lg-6 col-xxl-4'>
  <h3 class='display-6 text-center'>Skills</h3>

  <div id='animal-ken' class='row my-2'>
    <label class='col-auto my-auto'>Animal Ken</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="animal-ken" id="animal-ken0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="animal-ken" id="animal-ken1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="animal-ken" id="animal-ken2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="animal-ken" id="animal-ken3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="animal-ken" id="animal-ken4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="animal-ken" id="animal-ken5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>     

  <div id='crafts' class='row my-2'>
    <label class='col-auto my-auto'>Crafts</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="crafts" id="crafts0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="crafts" id="crafts1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="crafts" id="crafts2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="crafts" id="crafts3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="crafts" id="crafts4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="crafts" id="crafts5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>         

  <div id='drive' class='row my-2'>
    <label class='col-auto my-auto'>Drive</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="drive" id="drive0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="drive" id="drive1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="drive" id="drive2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="drive" id="drive3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="drive" id="drive4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="drive" id="drive5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='etiquette' class='row my-2'>
    <label class='col-auto my-auto'>Etiquette</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="etiquette" id="etiquette0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="etiquette" id="etiquette1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="etiquette" id="etiquette2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="etiquette" id="etiquette3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="etiquette" id="etiquette4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="etiquette" id="etiquette5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>       

  <div id='firearms' class='row my-2'>
    <label class='col-auto my-auto'>Firearms</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="firearms" id="firearms0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="firearms" id="firearms1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="firearms" id="firearms2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="firearms" id="firearms3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="firearms" id="firearms4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="firearms" id="firearms5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>         

  <div id='larceny' class='row my-2'>
    <label class='col-auto my-auto'>Larceny</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="larceny" id="larceny0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="larceny" id="larceny1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="larceny" id="larceny2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="larceny" id="larceny3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="larceny" id="larceny4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="larceny" id="larceny5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='melee' class='row my-2'>
    <label class='col-auto my-auto'>Melee</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="melee" id="melee0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="melee" id="melee1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="melee" id="melee2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="melee" id="melee3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="melee" id="melee4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="melee" id="melee5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>    

  <div id='performance' class='row my-2'>
    <label class='col-auto my-auto'>Performance</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="performance" id="performance0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="performance" id="performance1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="performance" id="performance2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="performance" id="performance3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="performance" id="performance4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="performance" id="performance5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>        

  <div id='stealth' class='row my-2'>
    <label class='col-auto my-auto'>Stealth</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="stealth" id="stealth0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="stealth" id="stealth1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="stealth" id="stealth2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="stealth" id="stealth3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="stealth" id="stealth4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="stealth" id="stealth5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div> 

  <div id='survival' class='row my-2'>
    <label class='col-auto my-auto'>Survival</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="survival" id="survival0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="survival" id="survival1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="survival" id="survival2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="survival" id="survival3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="survival" id="survival4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="survival" id="survival5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>
</div>

<div id='knowledges' class='col-lg-6 col-xxl-4 mx-auto'> 
  <h3 class='display-6 text-center col-auto'>Knowledges</h3>       

  <div id='academics' class='row my-2'>
    <label class='col-auto my-auto'>Academics</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="academics" id="academics0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="academics" id="academics1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="academics" id="academics2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="academics" id="academics3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="academics" id="academics4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="academics" id="academics5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>        

  <div id='computer' class='row my-2'>
    <label class='col-auto my-auto'>Computer</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="computer" id="computer0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="computer" id="computer1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="computer" id="computer2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="computer" id="computer3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="computer" id="computer4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="computer" id="computer5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>      

  <div id='finance' class='row my-2'>
    <label class='col-auto my-auto'>Finance</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="finance" id="finance0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="finance" id="finance1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="finance" id="finance2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="finance" id="finance3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="finance" id="finance4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="finance" id="finance5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='investigation' class='row my-2'>
    <label class='col-auto my-auto'>Investigation</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="investigation" id="investigation0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="investigation" id="investigation1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="investigation" id="investigation2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="investigation" id="investigation3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="investigation" id="investigation4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="investigation" id="investigation5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='law' class='row my-2'>
    <label class='col-auto my-auto'>Law</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="law" id="law0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="law" id="law1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="law" id="law2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="law" id="law3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="law" id="law4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="law" id="law5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='medicine' class='row my-2'>
    <label class='col-auto my-auto'>Medicine</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="medicine" id="medicine0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="medicine" id="medicine1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="medicine" id="medicine2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="medicine" id="medicine3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="medicine" id="medicine4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="medicine" id="medicine5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='occult' class='row my-2'>
    <label class='col-auto my-auto'>Occult</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="occult" id="occult0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="occult" id="occult1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="occult" id="occult2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="occult" id="occult3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="occult" id="occult4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="occult" id="occult5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='politics' class='row my-2'>
    <label class='col-auto my-auto'>Politics</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="politics" id="politics0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="politics" id="politics1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="politics" id="politics2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="politics" id="politics3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="politics" id="politics4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="politics" id="politics5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='science' class='row my-2'>
    <label class='col-auto my-auto'>Science</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="science" id="science0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="science" id="science1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="science" id="science2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="science" id="science3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="science" id="science4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="science" id="science5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='technology' class='row my-2'>
    <label class='col-auto my-auto'>Technology</label>
    <input class='col px-1 w-100 underline-input' type='text'>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="technology" id="technology0" value='0' checked>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1'>                    
          <input class="" type="radio" 
              name="technology" id="technology1" value='1'> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="technology" id="technology2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="technology" id="technology3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="technology" id="technology4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="technology" id="technology5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>
</div>
{% endblock abilities %}