{% block attributes %}
<div class='col-12'>
  <div class='row'>
    <div class='col m-auto'><hr></div> 
    <div class='col-auto'><h2 class='display-4 text-center'>Attributes</h2></div>          
    <div class='col m-auto'><hr></div> 
  </div>
</div>  

<div id='physical' class='col-md-6 col-lg-4 col-xl-6 col-xxl-4'>
  <h3 class='display-6 text-center'>Physical</h3>
  
  <div id='strength' class='row my-2'>
    <label class='col-auto my-auto'>Strength</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="strengthDot" id="strengthDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="strengthDot" id="strengthDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="strengthDot" id="strengthDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="strengthDot" id="strengthDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="strengthDot" id="strengthDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="strengthDot" id="strengthDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='dexterity' class='row my-2'>
    <label class='col-auto my-auto'>Dexterity</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="dexterityDot" id="strengthDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="dexterityDot" id="dexterityDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="dexterityDot" id="dexterityDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="dexterityDot" id="dexterityDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="dexterityDot" id="dexterityDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="dexterityDot" id="dexterityDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>
  <div id='stamina' class='row my-2'>
    <label class='col-auto my-auto'>Stamina</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="staminaDot" id="staminaDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="staminaDot" id="staminaDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="staminaDot" id="staminaDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="staminaDot" id="staminaDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="staminaDot" id="staminaDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="staminaDot" id="staminaDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>
</div>

<div id='social' class='col-md-6 col-lg-4 col-xl-6 col-xxl-4'>
  <h3 class='display-6 text-center'>Social</h3>
  
  <div id='charisma' class='row my-2'>
    <label class='col-auto my-auto'>Charisma</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="charismaDot" id="charismaDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="charismaDot" id="charismaDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="charismaDot" id="charismaDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="charismaDot" id="charismaDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="charismaDot" id="charismaDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="charismaDot" id="charismaDot" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>
   
  <div id='manipulation' class='row my-2'>
    <label class='col-auto my-auto'>Manipulation</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="manipulationDot" id="manipulationDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="manipulationDot" id="manipulationDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="manipulationDot" id="manipulationDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="manipulationDot" id="manipulationDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="manipulationDot" id="manipulationDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="manipulationDot" id="manipulationDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div> 

  <div id='appearance' class='row my-2'>
    <label class='col-auto my-auto'>Appearance</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="appearanceDot" id="appearanceDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="appearanceDot" id="appearanceDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="appearanceDot" id="appearanceDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="appearanceDot" id="appearanceDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="appearanceDot" id="appearanceDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="appearanceDot" id="appearanceDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

</div>

<div id='mental' class='col-md-6 col-lg-4 col-xl-6 col-xxl-4 mx-auto'> 
  <h3 class='display-6 text-center col-auto'>Mental</h3>   
  
  <div id='perception' class='row my-2'>
    <label class='col-auto my-auto'>Perception</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="perceptionDot" id="perceptionDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="perceptionDot" id="perceptionDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="perceptionDot" id="perceptionDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="perceptionDot" id="perceptionDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="perceptionDot" id="perceptionDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="perceptionDot" id="perceptionDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>   

  <div id='intelligence' class='row my-2'>
    <label class='col-auto my-auto'>Intelligence</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="intelligenceDot" id="intelligenceDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="intelligenceDot" id="intelligenceDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intelligenceDot" id="intelligenceDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intelligenceDot" id="intelligenceDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intelligenceDot" id="intelligenceDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="intelligenceDot" id="intelligenceDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div>

  <div id='wits' class='row my-2'>
    <label class='col-auto my-auto'>Wits</label>
    <div class='col w-100 underline'></div>
    <div class='col-auto'>
      <div class='row'>
        <div class='col hidden-dot p-0'>                    
          <input class="" type="radio" 
              name="witsDot" id="witsDot0" value='0'>              
        </div>
        <div class='col-auto pe-0 vtm-static-dot pt-1 vtm-static-filled'>                    
          <input class="" type="radio" 
              name="witsDot" id="witsDot1" value='1' checked> 
          <label onclick='updateRow(this)'></label>               
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="witsDot" id="witsDot2" value='2'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="witsDot" id="witsDot3" value='3'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto px-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="witsDot" id="witsDot4" value='4'>
          <label onclick='updateRow(this)'></label> 
        </div>
        <div class='col-auto ps-0 vtm-static-dot pt-1'>
          <input class="" type="radio" 
            name="witsDot" id="witsDot5" value='5'>
          <label onclick='updateRow(this)'></label> 
        </div>
      </div>    
    </div>
  </div> 

</div>

{% endblock attributes %}