{% block thirdRow %}
<div id='merits-flaws' class='col-md-6 col-xl-4'>
  <div class='row'>
    
    <div class='col-12'>
      <div class='row'>
        <div class='col m-auto'><hr></div> 
        <div class='col-auto'>
          <h3 class='display-6 text-center'>Merits & Flaws</h3>
        </div>          
        <div class='col m-auto'><hr></div> 
      </div> 
    </div>

    <div id='merits' class='col-12'>
      <div class='row my-2'>
        <div class='col-12'>
          <div class='row'>
            <div class='col-10'><p>Merit</p></div>
            <div class='col-2 text-center'><p>Cost</p></div>
          </div>
        </div> 

        <template id='merit-template'>
          <div id='template-id' class='col-12'>
            <div class='row my-2'>
              <div class='col-10'>
                <input class='w-100 underline-input' type="text" 
                  id="template-name">
              </div>
              <div class='col-2 text-center'>
                <input class='w-100 underline-input template 
                  input-text-center' 
                  type="text" name="">
              </div>                      
            </div>
          </div>                  
        </template>

        <div class='col-12 d-grid gap-2' data-bs-toggle="modal" 
          data-bs-target="#meritModel"
        >
          <div class='row my-2'>
              <div class='col-10'>
                <input class='w-100 underline-input' type="text" 
                  id="template-name" readOnly>
              </div>
              <div class='col-2 text-center'>
                <input class='w-100 underline-input template 
                  input-text-center' 
                  type="text" name="" readOnly>
              </div>                      
            </div>
        </div>
      </div>
    </div>

    <div id='flaws' class='col-12'>
      <div class='row my-2'>
        <div class='col-12'>
          <div class='row'>
            <div class='col-10'><p>Flaw</p></div>
            <div class='col-2 text-center'><p>Cost</p></div>
          </div>
        </div>  

        <template id='flaw-template'>
          <div id='template-id' class='col-12'>
            <div class='row my-2'>
              <div class='col-10'>
                <input class='w-100 underline-input' type="text" 
                  id="template-name">
              </div>
              <div class='col-2 text-center'>
                <input class='w-100 underline-input template 
                  input-text-center' 
                  type="text" name="">
              </div>              
            </div>
          </div>                  
        </template>

        <div class='col-12 d-grid gap-2' data-bs-toggle="modal" 
          data-bs-target="#flawModel"
        >
          <div class='row my-2'>
              <div class='col-10'>
                <input class='w-100 underline-input' type="text" 
                  id="template-name" readOnly>
              </div>
              <div class='col-2 text-center'>
                <input class='w-100 underline-input template 
                  input-text-center' 
                  type="text" name="" readOnly>
              </div>                      
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id='center-other' class='col-md-6 col-xl-4'>
  <div class='row'>
            
    <div id='morality' class='col-12 py-3'>
      <div class='row'>
        <div class='col-12'>
          <div class='row'>
            <div class='col m-auto'><hr></div> 
            <div class='col-auto'>
            <h3 class='display-6 text-center'>Humanity/Path</h3>
          </div>          
            <div class='col m-auto'><hr></div> 
          </div> 
        </div>
                
        <div id='moralityTracker' class='col-12'>
          <div class='row mt-2'>
                    
            <div class='col-12 px-5 mb-3'>
              <div class='row justify-content-center'>
                <div class='col-12'>
                  <input class='underline-input input-text-center w-100'
                  value='Humanity' data-bs-toggle="modal" 
                  data-bs-target="#moralityModel" id='moralityLabel'
                  readOnly> 
                </div>
              </div>
            </div>                       

            <div class='col-12'>
              <div class='row justify-content-center'>
                <div class='col-auto hidden-dot p-0'>                    
                  <input class="morality-input" type="radio" 
                      name="morality_humanity" value='0'>              
                </div>
                <div class='col-auto pe-0 mx-1 vtm-static-dot pt-1 
                  vtm-static-filled'>                    
                  <input class="morality-input" type="radio" 
                      name="morality_humanity" value='1' checked> 
                  <label onclick='updateRow(this)'></label>               
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='2'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='3'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='4'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='5'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>                    
                  <input class="morality-input" type="radio" 
                      name="morality_humanity" value='6'> 
                  <label onclick='updateRow(this)'></label>               
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='7'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='8'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='9'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto ps-0 me-1 vtm-static-dot pt-1'>
                  <input class="morality-input" type="radio" 
                    name="morality_humanity" value='10'>
                  <label onclick='updateRow(this)'></label> 
                </div>
              </div>    
            </div>

            <div class='col-12 px-5 my-1'>
              <div class='row'>
                <label class='col-auto my-auto'>Bearing:</label>
                <input class='col w-100 underline-input input-text-center'
                  id='bearingName' value="Normalcy" readOnly>
                <label class='col-auto my-auto'>(___)</label>    
              </div>                
            </div>   
          </div>
        </div>
      </div>  
    </div>

    <div id='willpower' class='col-12 py-3'>
      <div class='row'>
        <div class='col-12'>
          <div class='row'>
            <div class='col m-auto'><hr></div> 
            <div class='col-auto'>
              <h3 class='display-6 text-center'>Willpower</h3>
            </div>          
            <div class='col m-auto'><hr></div> 
          </div> 
        </div>

        <div id='willpowerTracker' class='col-12'>
          <div class='row justify-content-center'>
            <div class='col-auto hidden-dot p-0'>                    
              <input class="" type="radio" 
                  name="willpower" value='0'>              
            </div>
            <div class='col-auto pe-0 mx-1 vtm-static-dot pt-1 
              vtm-static-filled'>                    
              <input class="" type="radio" 
                  name="willpower" value='1' checked> 
              <label onclick='updateRow(this)'></label>               
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='2'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='3'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='4'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='5'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>                    
              <input class="" type="radio" 
                  name="willpower" value='6'> 
              <label onclick='updateRow(this)'></label>               
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='7'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='8'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='9'>
              <label onclick='updateRow(this)'></label> 
            </div>
            <div class='col-auto ps-0 me-1 vtm-static-dot pt-1'>
              <input class="" type="radio" 
                name="willpower" value='10'>
              <label onclick='updateRow(this)'></label> 
            </div>
          </div>    
        </div>
      </div>
    </div>

    <div id='bloodPool' class='col-12 py-3'>
      <div class='row'>
        <div class='col-12'>
          <div class='row'>
            <div class='col m-auto'><hr></div> 
            <div class='col-auto'>
              <h3 class='display-6 text-center'>Blood Pool</h3>
            </div>          
            <div class='col m-auto'><hr></div> 
          </div>  
        </div>

        <div id='bloodTracker' class='col-12'>
          <div class='row'>                      
            <div class='col-12'>
              <div class='row justify-content-center'>
                <div class='col-auto hidden-dot p-0'>                    
                  <input class="" type="radio" 
                      name="blood" value='0'>              
                </div>
                <div class='col-auto pe-0 mx-1 vtm-static-dot pt-1 
                  vtm-static-filled'>                    
                  <input class="" type="radio" 
                      name="blood" value='1' checked> 
                  <label onclick='updateRow(this)'></label>               
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='2'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='3'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='4'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='5'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>                    
                  <input class="" type="radio" 
                      name="blood" value='6'> 
                  <label onclick='updateRow(this)'></label>               
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='7'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='8'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='9'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto ps-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='10'>
                  <label onclick='updateRow(this)'></label> 
                </div>
              </div>
            </div>
            <div class='col-12'>
              <div class='row justify-content-center'>
                <div class='col-auto pe-0 mx-1 vtm-static-dot pt-1'>                    
                  <input class="" type="radio" 
                      name="blood" value='11'> 
                  <label onclick='updateRow(this)'></label>               
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='12'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='13'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='14'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='15'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>                    
                  <input class="" type="radio" 
                      name="blood" value='16'> 
                  <label onclick='updateRow(this)'></label>               
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='17'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='18'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto px-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='19'>
                  <label onclick='updateRow(this)'></label> 
                </div>
                <div class='col-auto ps-0 me-1 vtm-static-dot pt-1'>
                  <input class="" type="radio" 
                    name="blood" value='20'>
                  <label onclick='updateRow(this)'></label> 
                </div>
              </div>
            </div>
          </div>
        </div>                
      </div>        
    </div>
  </div>
</div> 

<div id='right-other' class='col-md-6 col-xl-4'>
  <div class='row h-100'>
    <div id='health' class='col-12'>
      <div class='row'>
        <div class='col m-auto'><hr></div> 
        <div class='col-auto'>
        <h3 class='display-6 text-center'>Health</h3>
      </div>          
        <div class='col m-auto'><hr></div> 
      </div>      

      <div id='health-tracker' class='row mt-2'>             
        <div class='col-12 ps-5 ms-2'>
          <div class='row justify-content-center'>
            <div class='col-8'>
              <label class='w-100'>Bruised</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox1" value='1'>
            </div>                    
          </div>

          <div class='row justify-content-center'>
            <div class='col-6'>
              <label class='w-100'>Hurt</label>
            </div>
            <div class='col-2 pe-3'>
              <label>-1</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox2" value='2'>
            </div>                    
          </div>

          <div class='row justify-content-center'>
            <div class='col-6'>
              <label class='w-100'>Injured</label>
            </div>
            <div class='col-2 pe-3'>
              <label>-1</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox1" value='1'>
            </div>                    
          </div>

          <div class='row justify-content-center'>
            <div class='col-6'>
              <label class='w-100'>Wounded</label>
            </div>
            <div class='col-2 pe-3'>
              <label>-2</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox1" value='1'>
            </div>                    
          </div>

          <div class='row justify-content-center'>
            <div class='col-6'>
              <label class='w-100'>Mauled</label>
            </div>
            <div class='col-2 pe-3'>
              <label>-2</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox1" value='1'>
            </div>                    
          </div>

          <div class='row justify-content-center'>
            <div class='col-6'>
              <label class='w-100'>Crippled</label>
            </div>
            <div class='col-2'>
              <label>-5</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox1" value='1'>
            </div>                    
          </div>

          <div class='row justify-content-center'>
            <div class='col-8'>
              <label class='w-100'>Incapacitated</label>
            </div>
            <div div class='col-auto'>
              <input class=" mx-1" type="checkbox" 
                name="healthBox" id="healthBox1" value='1'>
            </div>                    
          </div>
        </div> 
      </div>
    </div>

    <div id='weakness' class='col-12'>
      <div class='row'>
        <div class='col m-auto'><hr></div> 
        <div class='col-auto'>
          <h3 class='display-6 text-center'>Weakness</h3>
        </div>          
        <div class='col m-auto'><hr></div> 
      </div>      

      <div class='row mt-2 justify-content-center'>                      
        <div class='col-12 px-5 mx-2'>
          <input class="underline-input w-100 input-text-center" 
            type="text" id="weaknessInput" readOnly>
        </div>
      </div>
    </div>     

    <div id='exp' class='col-12'>
      <div class='row'>
        <div class='col m-auto'><hr></div> 
        <div class='col-auto'>
          <h3 class='display-6 text-center'>Experience</h3>
        </div>          
        <div class='col m-auto'><hr></div> 
      </div>      

      <div class='row mt-2 justify-content-center'>                      
        <div class='col-12 px-5 mx-2'>
          <input class="underline-input w-100 input-text-center" 
            type="text" id="exp-input">
        </div>
      </div>
    </div>
  </div>              
</div> 
{% endblock thirdRow %}